.img{
    display: block;
    height:200px;
    width: 200px;
    /* padding: 5px; */
}
h1 {
    color: blue;
    text-align: left;
}
    h2 {
        color: green;
        font-style: italic;
        text-align: left;
    }